body {
  font-family: "Helvetica Neue";
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.row:nth-child(odd) {
  background-color: #eee;
}

.typewriter {
  font-family: Helvetica Neue;
  font-size: 3rem;
  color: teal;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* Header nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

nav ul a {
  text-decoration: none;
  color: salmon;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
  font-size: 16px;
}

nav ul a:hover {
  color: #6cada1;
  text-decoration: none;
}

nav ul li {
  display: inline-block;
}

.logo {
  width: 100px;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 50%;
}

/* Style navigation menu links */
.topnav a {
  color: salmon;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
i.fa-bars {
  font-size: 30px;
}
/* Add a grey background color on mouse-over */
.topnav a:hover {
  color: teal;
}

/* Style the active link (or home/logo) */

/* end nav */

/* Header  */
section.header {
  width: 90%;
  padding: 10px 10% 10px 10%;
}
.header-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}
.header-grid-1 h1 {
  color: #6cada1;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.header-grid-1 h4 {
  color: #99c4bc;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.3;
}

.header-grid-1 h4.salmon {
  color: salmon;
}


.profile-img {
  width: 300px;
}
/* end header  */

hr {
  margin: 0 10% 0 10%;
  background-color: #ddd;
  height: 1px;
  border: none;
}

.about-grid {
  margin-top: -50px;
  font-size: 20px;
  font-family: "Avenir";
  color: #4d4d4d;
  display: grid;
  padding: 50px 10% 0 10%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-grid-2 {
  color: #99c4bc;
  line-height: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* .header {
  width: 100%;
  height: 300px;
  background-color: #b0d8dd;
} */

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: #6cada1;
  text-align: center;
  font-family: "Helvetica Neue";
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* projects */
.project-img {
  width: 100%;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 5%;
}

.text-center {
  text-align: center;
}

/* end projects  */

.project-links {
  background-color: #b0d8dd;
  padding: 5px;
  width: 200px;
  border: 1px solid teal;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5px auto;
}

section:last-child {
  margin-bottom: 100px;
}

.contact {
  text-align: center;
  margin: 20px;
  color: salmon;
}

.contact a {
  color: salmon;
  font-size: 2rem;
  border-radius: 50%;
  border: 1px solid salmon;
  width: 2em;
  height: 2em;
  text-align: center;

  display: inline-block;
}

i.fa {
  padding: 0.5em 0 0.5em;
}

.contact a:hover {
  border-color: teal;
  color: teal;
}

footer {
  padding-top: 10px;
  color: teal;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid salmon;
}




.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: 0 150px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.arrow {
  color: salmon;
  border: 1px solid salmon;
  height: 20px;
  border-radius:50%;
  width: 20px;
  line-height: 20px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: salmon;
  color: white;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #6cada1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides img {
  position:relative;
  left: 50%;
  transform: translateX(-50%);
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.salmon {
  color: salmon;
}
a {
  color: salmon;
}
a:visited {
  color: salmon;
  text-decoration: none;
}
.fa-angle-double-right {
  color: salmon;
}
a {
  text-decoration: none;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  -webkit-animation-duration: 6s;
  animation-duration:6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media only screen and (max-width: 1014px) {
  .header-grid {
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }


  .header-grid-2 {
    display:none;
  }
}

@media only screen and (max-width: 1000px) {
  .prev, .next {
    display:none;
  }
}

@media only screen and (max-width: 950px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 750px) {
  i.fa-bars {
    display:none;
  }
}

@media only screen and (max-width: 749px) {
  .topnav #myLinks {
    display: none;
  }
}
